<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Bootstarp -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Medium Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark techfont">
      <li><a class='navbar-brand bigbrand' href="{% url 'post_list' %}">My Blog</a></li>
      <div class="container">
        <ul class="navbar-nav mr-auto">
          <li><a class='nav-link' href="{% url 'about' %}">About</a></li>
          <li><a class="nav-link" href="https://www.github.com">Github</a></li>
          <li><a class='nav-link' href="https://www.linkedin.com">Linkedin</a></li>
        </ul>
        <ul class="navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li><a class='nav-link' href="{% url 'post_new' %}">New Post</a></li>
            <li><a class='nav-link' href="{% url 'post_draft_list' %}">Drafts</a></li>
            <li><a class='nav-link' href="{% url 'logout' %}">Logout</a></li>
            <li><a>Welcome :{{user.username}}</a></li>
          {% else %}
            <li><a class='nav-link' href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <!-- Body Block -->
    {% block bodyblock %}
    {% endblock %}
  </body>
</html>
